/******** Om mig *********/

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text_container {
    padding-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .text_container {
    padding-inline: 80px;
    padding-bottom: 20px;
  }
}
@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 80px;
    padding-bottom: 200px;
  }
}
@media (min-width: 800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-inline: 80px;
    padding-bottom: 200px;
    gap: 20px;
  }
  .text_container {
    padding-left: 40px;
    padding-bottom: 20px;
  }
}

/********** projekter siden**********/
@media (min-width: 800px) {
  .grid_web1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 800px) {
  .grid_web2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 800px) {
  .grid_web3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  .grid_webrow {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    padding-bottom: 20px;
  }
}
@media (min-width: 800px) {
  .grid1 {
    display: grid;
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .grid1 {
    display: grid;
    margin-top: 30px;
  }
}

/***********' java *******/

/********
@media (max-width: 800px) {
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  .closeIcon {
    display: none;
  }
}

@media (max-width: 800px) {
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
}
@media (max-width: 800px) {
  .showMenu {
    transform: translateY(0);
  }
}
********/
